absl-py==1.4.0
arrow==1.3.0
asgiref==3.7.2
astunparse==1.6.3
attrs==23.1.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.28
azure-core==1.26.4
blinker==1.6.2
Brotli==1.1.0
cachetools==5.3.0
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
cmake==3.26.3
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.3
django-core==1.4.1
django-cors-headers==3.14.0
djangorestframework==3.14.0
dlib==19.24.1
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.13.1
Flask==2.3.2
flatbuffers==23.3.3
fonttools==4.39.3
gast==0.4.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.0
gunicorn==21.2.0
h5py==3.8.0
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
jax==0.4.8
Jinja2==3.1.2
jinja2-time==0.2.0
jsonschema==4.17.3
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
make==0.1.6.post2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
ml-dtypes==0.1.0
msrest==0.7.1
mtcnn==0.1.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
platformdirs==4.2.0
protobuf==4.22.4
psycopg2-binary==2.9.9
pyasn1==0.5.0
pyasn1-modules==0.3.0
pykwalify==1.8.0
pyparsing==3.0.9
pyproject-toml==0.0.10
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.29.0
requests-oauthlib==1.3.1
rsa==4.9
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
tabulate==0.9.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
toml==0.10.2
types-python-dateutil==2.8.19.20240311
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
virtualenv==20.25.1
Werkzeug==2.3.3
west==1.1.0
whitenoise==6.6.0
wrapt==1.14.1
